<h1>My List</h1>

<div>
  <% @items.each do |item| %>
    <p><%= link to item.description %> 
      <%= link_to "Delete Item", [@list, @item], method: :delete, data: { confirm: 'Are you sure you want to delete this item?'} %></p>
  <% end %>
  <div>
    <%= render partial: "items/form", locals: {list: @list, item: @item} %>
  </div>
</div>